/* Variables */
:root {
  --primary-color: #0a192f;
  --secondary-color: #1cb698;
  --background-color: #000000;
  --text-color: #ffffff;
  --border-color: #ececec;
}

/* Establezco tamaño de letra y familia */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
  /* Google font */
  font-family: "Montserrat", sans-serif;
  /* me permite deslizar cuando hago click en los links del menu */
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background-color: var(--background-color);
}
